{
    "botToken": "APP_BOT_USER_TOKEN",
    "forecast": {
        "enabled": true,
        "db": "./forecast.db",
        "channel": "loot-forecast"
    },
    "warmom": {
        "enabled": true,
        "db": "./warmom.db",
        "guild": "Playmakers Wanted",
        "warrooms": {
            "gng-warroom": {
                "autoNotify": true,
                "clan": "Grit N Grind",
                "reminders": [
                    {
                        "time": 14400000,
                        "bothOnly": true,
                        "label": "zero attacks"
                    },
                    {
                        "time": 7200000,
                        "bothOnly": false,
                        "label": "attacks left"
                    }
                ]
            },
            "hnh-warroom": {
                "autoNotify": true,
                "clan": "Heart N Hustle",
                "reminders": [
                    {
                        "time": 14400000,
                        "bothOnly": true,
                        "label": "zero attacks"
                    },
                    {
                        "time": 7200000,
                        "bothOnly": false,
                        "label": "attacks left"
                    }
                ]
            },
            "fnf-warroom": {
                "autoNotify": true,
                "clan": "Fire N Fury",
                "reminders": [
                    {
                        "time": 14400000,
                        "bothOnly": true,
                        "label": "zero attacks"
                    },
                    {
                        "time": 7200000,
                        "bothOnly": false,
                        "label": "attacks left"
                    }
                ]
            }
        }
    },
    "playtime": {
        "enabled": true
    },
    "appClientId": "DISCORD_APP_CLIENT_ID"
}
